{% from '_macro.html' import render_field %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sivot</title>
	<!-- CSS -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="stylesheet" href="{{ url_for('static',filename="css/bootstrap.min.css" )}}">
	<link rel="stylesheet" href="{{ url_for('static',filename="css/style.css")}}">
	<!-- Colores -->

		
</head>
<body >	

<!-- #Foto de precarga -->
	<div id="st-preloader">
		<div id="pre-status">
			<div class="preload-placeholder"></div>			
		</div>	
	</div><!-- /#Foto de precarga -->

	<section id="home-page">			
		<div class="container-fluid home-bg">
			<div class="row">
				<div class="col-md-12 text-center home-page">
					<h1 class="hide">|</h1>


					<h2 name="mensaje1" id="mensaje1">Para las proximas elecciones</h2>

					<h2 id="mensaje2">FALTAN!</h2>
					<div class="container">
						<!-- cajas de contadores -->      
						<div class="row">
							<div class="col-sm-12 tk-countdown">
								<div class="row">

								</div>
							</div>
						</div>
						<!-- /Cajas de Contadores -->
					</div>
					<div ><p id="mensaje">Inicia sesión o registrese para votar</p></div>
									
					<div class="container ">
						<div class="row ">

						    <form>

							<div class="marginboton col-xs-12  col-lg-4  " > <a href="login"> <input type="button" class="btn btn-primary btn-lg submit-b" value="Vote aquí"></a></div>
					
							<div class="marginboton col-xs-12  col-lg-4  "> <input type="button" class="btn btn-primary btn-lg submit-b" value="Registrese" onclick="registrarse()"></div>	

							<div class="marginboton col-xs-12  col-lg-4"> <input type="button" class="btn btn-primary btn-lg submit-b" value="Resultados" onclick="verrestultados()"></div>
					
							</form>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</section><!-- /#home-page -->
	<section id="about-page">
		<div  class="hidden">
			<input id="comenzar" type="text" value="{{ comenzar }}">
			<input id="terminar" type="text" value="{{ terminar }}">
			
		</div>
	</section><!-- Separación negra-->
	
	<section id="service-page">
		
				<h1>¿Qué ofrecemos?</h1>
				<p>Este sistema de votación, plantea al votante poder ejercer su derecho al voto, de manera rápida y ágil,
					<br>permitiendo al usuario votar de manera segura, para así garantizar su derecho al voto y que se muestre en tiempo real al ganador de esta,
					<br>reducir la cantidad de desechos en papel y cartón producidas en esta</p>
		
	</section><!-- /#service-page -->
	<section id="contact-page">
		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form id="formulario" class="contact-form-area text-center">
						<input method="POST" type="hidden" name="csrf_token" value="{{ csrf_token() }}">   	
						<div class="service-aro-icon">
							<div class="service-aro-left"></div>
								<i class="fa fa-envelope"></i>
							<div class="service-aro-right"></div>
						</div>
                          
						<h2>Contáctanos</h2>
						<p>Escribe tus datos para que podamos hablar contigo</p>
						<div class="contact-form">
							{% with messages = get_flashed_messages() %}
							{% if messages %}
							  {% for message in messages %} 
							<h5 class="alert alert-success">	{{ message }}  </h5>
							  {% endfor %}           
							{% endif %}
							{% endwith %} 
                            <div class="row">
							<div class="col-sm-5 your-name col-sm-offset-1">
								<div class="form-group">
								 <input  class="form-control"   type="text" name="nombre" placeholder="Nombre" required>
								</div>
							</div>
							<div class="col-sm-5 your-email">
								<div class="form-group">
									<input class="form-control"  type="email" name="email" placeholder="email" required>
								</div>
							</div>
							<div class="col-sm-10 your-message col-sm-offset-1">
								<div class="form-group">
								<input class="form-control"  type="text" name="mensaje"  placeholder="Mensaje" required>
								</div>
								<div class="form-group">
									<button type="submit"  class="btn btn-primary btn-lg submit-button" >Enviar</button>
								</div>
							</div>
                            </div>     
						</div>
					
					</form>
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
					<script type="text/javascript">
						$('#formulario').on('submit',function(event){ 
						 event.preventDefault();
						 $.ajax({
						   url:'/Mensaje_contacto', 
						   data:$('form').serialize(),
						   type:'POST',
						   success: function(response){
							Swal.fire({
								icon: 'success',
								title: 'Mensaje enviado correctamente'+'\n'+'Favor no enviar mas peticiones, no seran tomandas en cuenta!!',								
							  },         
						   )
						   },
						   error: function(error){
						   }
					   })
					 })
					   </script>
				</div>
			</div><!--/.row-->
		</div><!-- /.container -->
	</section><!-- /#contact-page -->



	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<p>&copy; 2022 <strong></strong>. All Rights Reserved. Designed by <strong><a href="/" target="_blank">Sivot</a></strong></p>
				</div>
			</div>
		</div>
	</footer><!-- /.footer -->
	
	<!-- JS -->


	<script src="{{ url_for('static', filename='js/scripts.js' )}}"> </script><!-- Scripts -->
	<script src="{{ url_for('static', filename='js/jquery.ajaxchimp.js' )}}"> </script><!-- ajaxchimp -->
	<script src="{{ url_for('static', filename='js/countdown.js' )}}"> </script><!-- ajaxchimp -->	
	<script src="{{ url_for('static', filename='js/eventos.js')}}"> </script>
</body>
</html>
