<!-- CSS only -->

<link rel="stylesheet" href="{{ url_for('static',filename="css/styles1.css")}}">
<link rel="stylesheet" href="{{ url_for('static',filename="css/admin.css")}}">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="150" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
    </div>

    <!-- Login Form -->
    <form method="post">
      <input method="POST" type="hidden" name="csrf_token" value="{{ csrf_token() }}">  
      <input type="text"  class="fadeIn second" name="cedula" placeholder="Cedula" required>
      <input type="password" id="password" class="fadeIn third" name="clave" placeholder="Contraseña" required>
      <input type="submit" class="fadeIn fourth" value="Log In">
      
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %} 
        <h5  class="alert alert-success"> 
          {{ message }}
      </h5>
        {% endfor %}           
      {% endif %}
      {% endwith %} 
    </form>

    <!-- Remind Passowrd -->
   

  </div>
</div>