{% from '_macro.html' import render_field %}
<!DOCTYPE html>
<html lang="en">
<head> 
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> 
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="icon" href="{{url_for('static',filename='img/bandera.png')}}">
  <title>Registro</title>
</head>
<body class="bg-light">  

  <section >    
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                          
                <h2 class="text-uppercase text-center mb-5">Registrese</h2>
              <h5>  
                <form name="formulario" id="formulario" id="RegisterForm" method="POST"  > 
                  <input method="POST" type="hidden" name="csrf_token" value="{{ csrf_token() }}">         
                  <div class="form-outline mb-4">
                   
                    {{render_field(form.username, class='form-control')}}
                    <label class="form-label" for="form3Example1cg"></label>
                  </div>

                  <div class="form-outline mb-4">
                     {{render_field(form.apellido, class='form-control')}}
                    <label class="form-label" for="form3Example3cg"></label>
                  </div>

                  <div class="form-outline mb-4">
                    {{render_field(form.cedula, class='form-control',type="number")}}
                    <label class="form-label" for="form3Example4cg"></label>
                  </div>

                  <div class="form-outline mb-4">
                   {{render_field(form.expedicion, class='form-control',type="date" )}}
                    <label class="form-label" for="form3Example4cg">  </label>
                  </div>
                </h5>
                  {{ form.honeypot }}
                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2"  onclick="politicaseguridad()" id="checkbox" type="checkbox"  name="checkbox" required/>
                    <label class="form-check-label" for="checkbox" onclick="politicaseguridad()" type="submit" for="form2Example3g"><h6  >Aceptar los términos y condiciones</h6> </label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <input id="button" value="Registrar" type="submit" class="btn btn-success btn-block btn-lg "  name="Registrar">  </input>
                   
                  </div>
                  <h5 class="text-center text-muted mt-5 mb-0">¿Ya esta registrado?. <a href="login"
                      class="fw-bold text-body"><u>Vote aqui!</u></a></h5>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                          {% for message in messages %} 
                          <h5 class="text-center text-muted mt-5 mb-0" class="alert alert-success"> 
                            {{ message }}
                        </h5>
                          {% endfor %}           
                        {% endif %}
                        {% endwith %}
                      </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="{{ url_for('static', filename='js/eventos.js' )}}"> </script>
</html>